@font-face {
    font-family: "FnafFont";          /* name you will use in CSS */
    src: url("assets/fnafFont.ttf") format("truetype"); /* adjust path */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "intenseFont";
    src: url("assets/intenseFont.otf") format("opentype");
    font-weight: bold;
    font-style: normal; 
}
@font-face {
    font-family: "InGameFont";
    src: url("assets/intenseFont.otf") format("opentype");
    font-weight: bold;
    font-style: normal; 
}
button {
    font-family: "FnafFont", sans-serif;
    color: white;
    background-image: url('assets/nightSelectorStatic.gif');
    font-size: 25px;
    cursor: pointer;
    border: none;
    transition: transform 0.3s ease;
}
#menuButtons {
    position: fixed;
    top: 70%;
    left: 75%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 40px;
}
#menuButtons button {
    font-size: 2vw;
    width: 20vw;
    transition: transform 0.2s ease;
}
#menuButtons button:hover {
    transform: scale(1.3);
}
#menuButtons button:active {
    transform: scale(0.8);
}
#credits {
    position: fixed;
    font-family: "FnafFont";
    background-image: url('assets/nightSelectorStatic.gif');
    padding: 20px 20px;
    color: rgb(255, 255, 255);
    left: 50%;
    top: -500px;
    transform: translate(-50%,-50%);
    transition: top 1s cubic-bezier(0.1,1,0.1,1);
    text-align: center;
}
#credits.active {
    top: 50%
}
#credits.close {
    top: -500px;
}
#customNightChallenges {
    position: fixed;
    font-family: "FnafFont";
    background-image: url('assets/nightSelectorStatic.gif');
    padding: 20px 20px;
    color: rgb(255, 255, 255);
    left: 50%;
    top: -500px;
    transform: translate(-50%,-50%);
    transition: top 1s cubic-bezier(0.1,1,0.1,1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#customNightChallenges.active {
    top: 50%
}
#customNightChallenges.close {
    top: -500px;
}
#customNightChallenges button {
    height: 3vw;
    width: 12vw;
    font-size: 1.5vw;
}
#challenge0 {
    color: rgb(255, 255, 255);
    transition: ease 0.3s;
}
#challenge0:hover {
    background-image: url("assets/staticInvert.gif");
    color: rgb(0, 0, 0);
}
#challenge1 {
    /* display: none;*/
    font-family: "intenseFont", sans-serif;
    color: red;
    transition: ease 0.3s;
}
#challenge1:hover {
    background-image: url("assets/redStatic.gif");
    color: white;
}
#settings {
    position: fixed;
    font-family: "Arial";
    background-image: url('assets/nightSelectorStatic.gif');
    padding: 20px 20px;
    color: rgb(255, 255, 255);
    left: 50%;
    top: -500px;
    transform: translate(-50%,-50%);
    transition: top 1s cubic-bezier(0.1,1,0.1,1);
    text-align: center;
}
#settings.active {
    top: 50%
}
#settings.close {
    top: -500px;
}
#customNight {
    position: fixed;
    background-image: url('assets/darkStatic.gif');
    color: rgb(255, 255, 255);
    left: 0px;
    top: -2560px;
    width: 100%;
    height: 100%;
    transition: top 1s cubic-bezier(0.1,1,0.1,1);
}

#customNight.active {
    top: 0px;
}
#customNight.close {
    top: -2560px;
}
#customNight button {
    font-size: 2vw;
    width: 12vw;
    background-image: url('assets/darkStatic.gif');
    transition: transform 0.2s ease;
}
#thankYous {
    position: fixed;
    font-family: "FnafFont";
    background-image: url('assets/nightSelectorStatic.gif');
    padding: 20px 20px;
    color: rgb(255, 255, 255);
    left: 50%;
    top: -500px;
    transform: translate(-50%,-50%);
    transition: top 1s cubic-bezier(0.1,1,0.1,1);
    text-align: center;
}
#thankYous.close {
    top: -500px;
}
#thankYous.active {
    top: 50%
}
#settings.active {
    top: 50%
}
#settings.close {
    top: -500px;
}
#fpsInput {
    width: 1.2vw;
}
#customNight button:hover {
    transform: scale(1.3);
}
#customNight button:active {
    transform: scale(0.8);
}
#cnClose {
    position: absolute;
    bottom: 1vw;
    right: 1vw;
}
#nightSelector {
    position: fixed;
    top: 0px;
    height: 100%;
    background-image: url('assets/nightSelectorStatic.gif');
    padding: 20px 20px;
    left: -500px;
    color: black;
    transition: left 1s cubic-bezier(0.1,1,0.1,1);
    text-align: center;
    gap: 5px;
}

#nightSelector button {
    display: block;
    font-size: 2vw;
}
#nightSelector.active {
    left: 0px; /* Falls to this position */
}
#nightSelector.close {
    left: -500px; /* Moves back above the screen */
}
#night2, #night3, #night4, #night5, #night6 {
    display: none !important;
}
#night6 {
    color: red;
}
#customNightButton {
    display: none;
}
#cheatButton {
    position: fixed;
    bottom: 0px;
    left: 0px;
    font-size: 6px;
}
#resetButton {
    position: fixed;
    bottom: 15px;
    left: 0;
    font-size: 6px;
}
#gameCanvas {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure it's behind other elements */
    background-color: white;
}